/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS for the rest of the website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

/* CSS for the image */
img {
    width: 100%;
}

/* Header Section */
.hero-section .section-content {
    max-width: 95%;
    margin: 0;
}

header {
    background-color: rgb(18, 19, 19);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.navbar .nav-title .title-text {
    color: white;
    font-size: large;
    font-weight: bolder;
}

.navbar .nav-title .subtitle-text {
    color: grey;
    font-size: xx-small;
    font-weight: 10px;
}

.navbar .nav-board .nav-link {
    color:white;
    padding: 10px 18px;
    border-radius: 700px;
    font-size: small;
    transition: 0.2s ease;
}

.navbar .nav-board .nav-link:hover {
    background-color: rgb(202, 202, 202);
    color: 
}

.navbar .nav-board {
    display: flex;
    gap: 10px;
}


/* Hero Section */
.hero-section .hero-details .subtitle {
    font-size: 35px;
    font-weight: bolder;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section .hero-details p {
    font-size: 15px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 15%;
}

.hero-profile-image img {
    width: 80%;
    size: 10px;
}

section.hero-section {
    background-color: rgb(22, 22, 27);
}

/* About-Me Section */
.about-section .aboutme-details .title {
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section .aboutme-details p {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 10px;
}

section.about-section {
    background-color: rgb(91, 91, 108);
}

/* Projects Section */
.projects-section .projects-details .title {
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.projects-section .projects-details p {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.projects-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 15%;
}

section.projects-section {
    background-color: rgb(206, 207, 210);
}

/* Socials Section */
.socials-section .socials-details .title {
    font-size: 35px;
    font-weight: bolder;
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.socials-section .socials-details p {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.socials-section .section-content {
    display: flex;
    align-items: center;
    min-height: 40vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 10%;
}

section.socials-section {
    background-color: rgb(239, 238, 241);
}

