/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

img {
    width: 100%;
}

.section-content {
    max-width: 95%;
    margin: 0;
}

header {
    background-color: rgb(18, 19, 19);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.navbar .nav-title .title-text {
    color: white;
    font-size: large;
    font-weight: bolder;
}

.navbar .nav-title .subtitle-text {
    color: grey;
    font-size: xx-small;
    font-weight: 10px;
}

.navbar .nav-board .nav-link {
    color:white;
    padding: 10px 18px;
    border-radius: 700px;
    font-size: small;
    transition: 0.2s ease;
}

.navbar .nav-board .nav-link:hover {
    background-color: rgb(202, 202, 202);
    color: 
}

.navbar .nav-board {
    display: flex;
    gap: 10px;
}


.hero-section {
    background: var(--primary-color);
    min-height: 100vh;
}

.hero-section .hero-details .subtitle {
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

.hero-section .hero-details p {
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 15%;
}

.hero-profile-image img {
    width: 80%;
    size: 10px;
}

section.hero-section {
    background-color: rgb(22, 22, 27);
}


